body {
    font-family: sans-serif;
    background-color: white;
}

header {
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin-left: 25px; 
    margin-right: 25px; 
    
    
}

.title{
    font-family: fantasy;
    font-size: 36px;
}

article {
    background-color: whitesmoke; 
    padding: 60px; 
    margin-left: 25px; 
    margin-right: 25px; 
    margin-bottom: 50px; 
}

footer {
    
    text-align: center;
}

p{
    font-size: 14px;
    text-align: left;
    text-align: center;
}